<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="webedit:editlink" 
               type="Sitecore.Support.Shell.Applications.WebEdit.Commands.EditLink, Sitecore.Support.195242" 
               patch:instead="command[@name='webedit:editlink']" />
    </commands>
  </sitecore>
</configuration>